@import "../../index.scss";

.nav{
  margin: 5px;
  padding: 10px;
  background-color: $mainblack;
}
.nav__container{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  text-align: center;
  list-style-type: none;
}
.nav-links {
  text-decoration: none;
  color: $mainwhite;
  padding: 10px;
  margin: 10px;
  font-size: 1.5rem;
  transition: all 0.3s;
  &:hover{
    background-color: rgba(145, 132, 132, 0.5);
  }
}
